<div id="login-container" class="card text-center center">
    <div class="card-header">
        <h1>Log In</h1>
    </div>
    <div class="card-body">
        <p class="card-text">Already have an account? Enter your username and password below.</p>
        <p>Don't have an account yet? <a href="/signup">Sign up here</a>.</p>
        <form id="login-form">
            <input id="username-login" type="text" name="username-login" placeholder="Username" class="center" required/>
            <input id="password-login" type="password" name="password-login" placeholder="Password" class="center" required/>
            <button id="login-btn" class="btn btn-primary center">Log In</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>