<div id="signup-container" class="card text-center center">
    <div class="card-header">
        <h1>Sign Up</h1>
    </div>
    <div class="card-body">
        <p class="card-text">New user? Sign up for an account below.</p>
        <form id="signup-form">
            <input id="username-signup" type="text" name="username-signup" placeholder="Username" class="center" required/>
            <input id="password-signup" type="password" name="password-signup" placeholder="Password" class="center" required/>
            <label for="password-signup" class="italic">Password must be at least 8 characters</label>
            <button id="signup-btn" class="btn btn-primary center">Sign Up</button>
        </form>
    </div>
</div>

<script src="./js/signup.js"></script>