<h1>Dashboard</h1>

{{#if loggedIn}}
    <button id="newPostBtn">Add New Post</button>
    <h2>Your Blog Posts</h2>
    {{#if posts}}
        {{> posts}}
    {{else}}
        <p>You haven't added any blog posts yet. Click "Add New Post" above to get started!</p>
    {{/if}}
{{else}}
    <p>You must be logged in to view the dashboard. Log in or create an account below.</p>
    {{> login-signup}}
{{/if}}