<h1>Dashboard</h1>

{{#if loggedIn}}
    <button id="newPostBtn">Add New Post</button>
    <h2>Your Blog Posts</h2>
    {{#each userPosts as |post|}}
        <h3>{{post.title}}</h3>
        <p>{{formatDate post.createdAt}}</p>
        <p>{{post.content}}</p>
    {{/each}}
{{else}}
    <p>You must be logged in to view the dashboard. Log in or create an account below.</p>
    {{> login-signup}}
{{/if}}