<h1>Dashboard</h1>

{{#if loggedIn}}
    <a href="/new-post" id="new-post-btn" class="btn btn-secondary d-block center">Add New Post</a>
    <h2>Your Blog Posts</h2>
    {{#if posts}}
        {{#each posts as |post|}}
            <h3><a href="/dashboard/{{post.id}}">{{post.title}}</a></h3>
            {{> timestamp post=post}}
        {{/each}}
    {{else}}
        <p>You haven't added any blog posts yet. Click "Add New Post" above to get started!</p>
    {{/if}}
{{else}}
    <p class="lead">You must be logged in to view the dashboard. Log in or create an account below.</p>
    {{> login}}
{{/if}}
