<h1>Edit Your Post</h1>

<form id="edit-post">
    <div id="title-container">
        <label for="title">Title:</label>
        <input id="title" type="text" value="{{post.title}}" required/>
    </div>
    {{> timestamp}}
    <textarea id="content" rows="15" required>{{post.content}}</textarea>
    <button id="update-btn" class="btn btn-success">Update Post</button>
    <button id="delete-btn" class="btn btn-danger">Delete Post</button>
</form>

{{#if comments}}
    <div id="comments">
        <h3>Comments</h3>
        {{> comments}}
    </div>
{{/if}}

<script src="../js/editPost.js"></script>
