<h1>Welcome to the Tech Thoughts blog site!</h1>

<h2>Latest Blog Posts</h2>

{{#each posts as |post|}}
    <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
    {{> attribution post=post}}
{{/each}}
