<h1>Add a New Post</h1>

<form>
    <input id="title" type="text" name="title" placeholder="Title" required/>
    <textarea id="content" name="content" cols="100" rows="40" placeholder="Enter your post here" required></textarea>
    <button id="add-post-btn">Add Post</button>
</form>

<script src="../js/post.js"></script>
{{#if loggedIn}}
    <script src="../js/logout.js"></script>
{{/if}}