<h1>Add a New Post</h1>

<form>
    <input id="title" type="text" name="title" placeholder="Title" required/>
    <textarea id="content" name="content" rows="20" placeholder="Enter your post here" required></textarea>
    <button id="add-post-btn" class="btn btn-success">Add Post</button>
</form>

<script src="../js/addPost.js"></script>
