<h1>Account</h1>

<h2>Log In</h2>
<p>Already have an account? Enter your username and password below.</p>
<form>
    <input id="username-login" type="text" name="username-login" placeholder="Username" required/>
    <input id="password-login" type="password" name="password-login" placeholder="Password" required/>
    <button id="login-btn">Log In</button>
</form>

<h2>Sign Up</h2>
<p>New user? Sign up for an account below.</p>
<form>
    <input id="username-signup" type="text" name="username-signup" placeholder="Username" required/>
    <input id="password-signup" type="password" name="password-signup" placeholder="Password" required/>
    <button id="signup-btn">Sign Up</button>
</form>

<script src="./js/userProfile.js"></script>